<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Дата </th>
        <th> Время московское</th>
        <th> T </th>
        <th> Отн. влажность воздуха</th>
        <th> Атм. давление </th>
        <th> Направление ветра </th>
        <th> Скорость ветра </th>
        <th> Облачность </th>
        <th> h </th>
        <th> VV </th>
        <th> Погодные явления </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allWeather.empty}">
        <td colspan="2"> Нет информации </td>
    </tr>
    <tr th:each="weather : ${allWeather}">
        <td><span th:utext="${weather.date}"> Date </span></td>
        <td><span th:utext="${weather.time}"> Time </span></td>
        <td><span th:utext="${weather.T}"> T </span></td>
        <td><span th:utext="${weather.vlh}"> vlh </span></td>
        <td><span th:utext="${weather.Td}"> Td </span></td>
        <td><span th:utext="${weather.pressure}"> Pressure </span></td>
        <td><span th:utext="${weather.wind}"> Wind </span></td>
        <td><span th:utext="${weather.speed}"> Speed </span></td>
        <td><span th:utext="${weather.obl}"> obl </span></td>
        <td><span th:utext="${weather.h}"> h </span></td>
        <td><span th:utext="${weather.vv}"> vv </span></td>
        <td><span th:utext="${weather.weatherCond}"> weatherCond </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>